@()


<html>
<head>
  <title>My search page</title>
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/search.css")'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="top-image">
    <img src="assets/images/top-icon.svg">
  </div>
  <div class="welcome-title">Welcome To Tweet Analytics</div>
  <div class="welcome-subtitle">Start searching tweets</div>
  <div class="search-container">
    <div class="search-input">
      <input type="text" placeholder="Search Here">
    </div>
    <div class="search-image" onclick="goTo('results')"><img src="assets/images/search.svg"></div>
  </div>
  <div class="welcome-footer">
    <div>Team Project</div>
    <div>Team HG.005</div>
    <div>SOEN 6441</div>
  </div>
</div>
<script>
  function goTo(url)
  {
    location.replace(url);
  }
  </script>
</body>
</html>
