@(url: String, searchKey: String, resultList: List[Tweet])
<html>
<head>
    <title>My search results</title>

    <link href='@routes.Assets.versioned("stylesheets/results.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("stylesheets/profile.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("stylesheets/bootstrap.css")' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="container">
    <div class="back-results-arrow-container">
        <div class="back-arrow-image" onclick="goBack()"><img src="../assets/images/arrow.svg"></div>
        <div class="back-arrow-text">Your search results</div>
    </div>
    <div class="search-container">
        <div class="search-input">
            <input id="search-terms" placeholder="Search Here" type="text" value="@searchKey">
        </div>
        <div class="search-image" onclick="search()"><img src="../assets/images/search.svg"></div>
    </div>
    <div class="body-container">
        <div class="body-container-content">
            <div class="search-result-stats">
                <div class="search-result-count-title">Search Results:&nbsp;</div>
                <div class="search-result-count search-count">@resultList.size()</div>
                &nbsp;&nbsp;| &nbsp;&nbsp;
                <div class="search-result-count-title">Search Criteria &nbsp;</div>
                <div class="search-result-count search-text" id="search-text">@searchKey</div>

                &nbsp;&nbsp;| &nbsp;&nbsp;
                <div class="search-result-sentiment-title">Overall Sentiment:&nbsp;</div>
                <div class="search-result-sentiment">&#128512; Happy</div>
            </div>

            <div class="results-container" >
                @for(i <- 0 until resultList.length) {
                <div class="result-container">
                    <div class="result-index">@(i+1)</div>
                    <div class="result">
                        <div class="result-title" onclick="showProfile('@resultList(i).screenName')"> @('@'+resultList(i).screenName)</div>
                        <div class="result-content">
                            @resultList(i).content
                        </div>
                    </div>
                </div>
                }
            </div>
            <script id="tweetTemplate" type="template">
                <div class="result-container">
                    <div class="result-index">{{INDEX}}</div>
                    <div class="result">
                        <div class="result-title" onclick="showProfile('{{tweet.screenName}}')"> {{tweet.screenName}}</div>
                        <div class="result-content">
                            {{tweet.content}}
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" id="modal-profile">
    </div>
</div>

<script>
    let input = document.getElementById('search-terms');
    $(document).ready(function(){
    let keyWord = window.location.pathname.split("/").pop();
    if(typeof keyWord !== 'undefined')
    {
      $('#search-terms').val(keyWord);
      $('#search-text').text(keyWord);
    }

    });

  function showProfile(userName = '')
  {
    $.ajax({
            url: '/profile/'+userName,
            type: "GET",
            success: function (data) {
                $('#modal-profile').html( $(data).find('.modal-content'));
                $('#myModal').modal('show');
            }
        });
  }

  function goBack() {
    window.location.replace("http://localhost:9000/");
  }

  function searchOld(){
    event.stopPropagation();
    event.preventDefault();

    if(input.value.trim() !== '')
    {
        $.ajax({
            url: '/tweetSearch/'+input.value,
            type: "GET",
            success: function (data) {
                let result = $(data).find('.body-container-content');
                result.find('.search-text').html($('#search-terms').val());
                $('.body-container').prepend(result);
            }
        });

    }
  }

  function search() {
    let searchWord = input.value.trim();
    if(searchWord !== '') {
        window.location.replace(searchWord);
    }
  }
  function startStream() {
    let searchWord = input.value.trim();
    var protocolMessage = {
        searchKey: searchWord
    };
    tweetIndex = 10;
    $('.search-count').text(tweetIndex);
    if(webSocket.readyState == WebSocket.OPEN) {
        writeToScreen("SENT: " + protocolMessage.searchKey);
        webSocket.send(JSON.stringify(protocolMessage));
    } else {
        writeToScreen("Could not send data. Websocket is not open.");
    }
  }
  input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        search();
    }
  });

  var webSocket;
  var messageInput;
  function init() {
      initWebSocket();
      setTimeout(startStream,100);
  }

  function initWebSocket() {
      webSocket = new WebSocket("@url");
      webSocket.onopen = onOpen;
      webSocket.onclose = onClose;
      webSocket.onmessage = onMessage;
      webSocket.onerror = onError;
  }

  function onOpen(evt) {
      writeToScreen("CONNECTED");
  }
  function onClose(evt) {
      writeToScreen("DISCONNECTED");
  }
  function onError(evt) {
      writeToScreen("ERROR: " + JSON.stringify(evt));
  }

  function onMessage(evt) {
      writeToScreen("OK: " + JSON.stringify(evt.data));
      var receivedData = JSON.parse(evt.data);
      appendMessageToView(receivedData);
  }

  var tweetIndex = 0;
  function appendMessageToView(tweet) {
    var temp = $.trim($('#tweetTemplate').html());
    var x = temp.replace(/{{tweet.screenName}}/ig, tweet.screenName);
    x = x.replace(/{{tweet.content}}/ig, tweet.content);
    x = x.replace(/{{INDEX}}/ig, ++tweetIndex);
    $('.results-container').append(x);
    $('.search-count').text(tweetIndex);
  }
  function writeToScreen(message) {
      console.log("New message: ", message);
  }

  window.addEventListener("load", init, false);
</script>
</body>
</html>
